<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aue.mybatis.mapper.UserMapper">

    <select id="selectUserByName" resultType="User">
        select * from user where name like '%${name}%';
    </select>

    <insert id="addUser" keyProperty="id">
        insert into user (name, balance)
        values (#{name}, #{balance})
    </insert>

    <delete id="deleteById">
        delete from user
        where id = #{id}
    </delete>

    <update id="update">
        update user
        <set>
            <if test="user.name != null and user.name != ''">
                name = #{user.name},
            </if>
            <if test="user.balance != -1">
                balance = #{user.balance},
            </if>
        </set>
        where id = #{user.id}
    </update>
</mapper>